-- 1. Create the database
CREATE DATABASE IF NOT EXISTS goldbyte_cams;
USE goldbyte_cams;

-- 2. Users Table (Admin, Doctors, Patients) [cite: 17]
CREATE TABLE users (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    email VARCHAR(100) UNIQUE NOT NULL,
    password VARCHAR(255) NOT NULL,
    role ENUM('Admin', 'Doctor', 'Patient') DEFAULT 'Patient',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- 3. Specialties Table (Dentist, etc.) [cite: 20]
CREATE TABLE specialties (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(50) NOT NULL
);

-- 4. Doctors Table (Linked to Users & Specialties) [cite: 18]
CREATE TABLE doctors (
    id INT AUTO_INCREMENT PRIMARY KEY,
    user_id INT,
    specialty_id INT,
    bio TEXT,
    FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE,
    FOREIGN KEY (specialty_id) REFERENCES specialties(id)
);

-- 5. Appointments Table (The Core Logic) [cite: 24]
CREATE TABLE appointments (
    id INT AUTO_INCREMENT PRIMARY KEY,
    patient_id INT,
    doctor_id INT,
    appointment_date DATETIME NOT NULL,
    tier ENUM('Standard', 'VVIP') DEFAULT 'Standard',
    service_type ENUM('In-Clinic', 'Home-Service') NOT NULL,
    address TEXT, -- Required if Home-Service is selected [cite: 46]
    status ENUM('Pending', 'Completed', 'Cancelled') DEFAULT 'Pending',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (patient_id) REFERENCES users(id),
    FOREIGN KEY (doctor_id) REFERENCES doctors(id)
);